/*
    Created on : 2024/03/08
    Author     : Steven
*/
:root{
    --bg-btn: #F2AF29;
    --bg-btn-active: #31E981;
}

.btn-ambient-sounds-selector{
    display: flex;
    position: absolute;
    top: 15rem;
    right: 0.75rem;
    background-color: var(--bg-btn);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

.panel-sounds{
    width: 130px;
    & .menu-selector{
        height: 150px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        & .sounds-item{
            background-size: cover;
            background-position: center;
            border: 1px solid black;
            border-radius: 5px;
            & svg{
                transition-property: transform;
                transition-duration: .5s;
                transition-timing-function: ease;
            }
            &:hover svg{
                transform: scale(1.2);
            }
            &.active{
                background: var(--bg-btn-active);
            }
        }
    }
}

