/*
    Created on : 2024/03/07
    Author     : Steven
*/
:root{
    --bg-btn: #F2AF29;
}

.btn-stage-selector{
    display: flex;
    position: absolute;
    top: 10rem;
    right: 0.75rem;
    background-color: var(--bg-btn);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

.panel-stage{
    width: 130px;
    & .menu-selector{
        height: 160px;
        overflow: auto;
        & .stage-item{
            aspect-ratio: 16/9;
            background-size: cover;
            background-position: center;
            border: 1px solid black;
            border-radius: 5px;
        }
    }
}
