/*
    Created on : 2024/03/01
    Author     : Steven
*/
:root{
    --bg-btn-hover: #AAA8;
    --bg-item: #F2AF29;
    --bg-map-col-opacity: #fff6;
    --bg-map-col-opacity-hover: #F2AF2966;
    --bg-map-row-opacity: #0002;
}

.title-list{
    font-weight: 700;
    text-align: center;
    font-size: 25px;
}
.subtitle-list{
    font-weight: 600;
    text-align: center;
    font-size: 15px;
}

.map-grid{
    background-size: cover;
    background-position: center;
    & .map-grid-row{
        /*max-height: 100px;*/
        background-color: var(--bg-map-row-opacity);
    }
    & .map-grid-col{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-map-col-opacity);
        &:hover{
            background-color: var(--bg-map-col-opacity-hover);
        }
    }
}

.card-ubi-info{
    width: 110px;
    & .btn-card-ubi-header{
        padding: 2px;
        border-radius: 5px;
        border: 2px solid #000;
        & svg{
            transition-property: transform;
            transition-duration: .5s;
            transition-timing-function: ease;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    & .btn-card-ubi{
        padding: 2px;
        background-color: var(--bg-item);
        border-radius: 5px;
        border: 2px solid #000;
        & svg{
            transition-property: transform;
            transition-duration: .5s;
            transition-timing-function: ease;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}

.card-info-character{
    width: 180px;
    & .btn-card-ubi-header{
        padding: 2px;
        border-radius: 5px;
        border: 2px solid #000;
        & svg{
            transition-property: transform;
            transition-duration: .5s;
            transition-timing-function: ease;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    & .btn-card-character{
        padding: 2px;
        background-color: var(--bg-item);
        border-radius: 5px;
        border: 2px solid #000;
        & svg{
            transition-property: transform;
            transition-duration: .5s;
            transition-timing-function: ease;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    & table{
        width: 100%;
        border: 1px solid #000;
        & td{
            color: #000;
        }
    }
}