/*
    Created on : 04/11/2023
    Author     : Steven
*/

:root{
    --bg-color-1: #E5E7EB;
    --bg-color-2: #191716;
    --bg-color-3: #E4572E;
    --bg-color-4: #F2AF29;
    --bg-color-5: #E63462;
    --un-border-opacity: 1;
}


/*.bg-base{
    background-image: url('../../../assets/img/jpg/bg-home-01.jpg') !important;
}*/

.fieldset-form {
    display: grid;
    min-width: 100%;
    grid-template-columns:100px 1fr;
    grid-row-gap: 10px;
    padding: 1rem 0;
}

.fieldset-form legend{
    position: relative;
    top: 15px;
    left: 5px;
}

.fieldset-form input[type=number]::-webkit-inner-spin-button,
.fieldset-form input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
}
.fieldset-form input[type=number]{
    appearance: textfield;
}
.fieldset-form input[type=number].form-input-y{
    font-size: 2rem;
    font-weight: 700;
}

.fieldset-form select.form-input{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background: #fff;
}

.fieldset-form textarea.form-input-y{
    min-height: 7.5rem;
    max-height: 10.5rem;
}

/* info-player */
.fieldset-form.info-player {
    grid-template-columns:100px 1fr;
    grid-template-rows:repeat(6, 2.5rem);
    grid-row-gap: 0px;
}
@media (min-width: 768px) {
    .fieldset-form.info-player {
        grid-template-columns:100px 1fr 120px 1fr;
    }
}

.fieldset-form .form-lbl{
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
    margin-left: 0.5rem;
    background: #e5e7eb;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-color: rgb(0 0 0 / var(--un-border-opacity));
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem; 
    line-height: 1.5rem;
    font-size: 1rem;
}
.fieldset-form .form-lbl-y{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background: #e5e7eb;
    border-width: 1px;
    border-color: rgb(0 0 0 / var(--un-border-opacity));
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; 
    line-height: 1.5rem;
    font-size: 1rem;
}

.fieldset-form.info-player .form-lbl{
    margin-top: 0.5rem;
}

.fieldset-form .form-input{
    padding: 0.5rem 0.75rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; 
    line-height: 1.5rem;
    border-width: 1px;
    border-color: rgb(0 0 0 / var(--un-border-opacity));
}
.fieldset-form .form-input-y{
    padding: 0.5rem 0.75rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-width: 1px;
    border-color: rgb(0 0 0 / var(--un-border-opacity));
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: center;
}

/* stats-player */
.fieldset-form.stats-player {
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(4, 2.5rem);
    grid-row-gap: 0px;
}
.fieldset-form.stats-player .form-lbl{
    /* margin-top: 1rem; */
    margin-right: 0.5rem;
    border-width: 1px;
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem; 
}

.fieldset-form.stats-player .stats-main{
    min-width: 80px;
    text-align: center;
    margin-top: 0rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 0;
}

.fieldset-form.stats-player .stats-sub{
    min-width: 80px;
    margin-top: 0rem;
    margin-right: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem; 
}

.fieldset-form.stats-player .stats-sub-end,
.fieldset-form.skills-player .stats-sub-end{
    min-width: 80px;
    margin-top: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem; 
}

/* skills-player */
.fieldset-form.skills-player{
    grid-row-gap: 0px;
}

.fieldset-form.skills-player .form-lbl-skills{
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
    margin-top: 0.5rem;
    background: #e5e7eb;
    border-width: 1px;
    border-color: rgb(0 0 0 / var(--un-border-opacity));
    line-height: 1.5rem;
    font-size: 1rem;
}

.fieldset-form.skills-player .skill-level{
    min-width: 80px;
    margin-top: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}
.fieldset-form.skills-player .stats-sub,
.fieldset-form.inventory-player .form-input{
    min-width: 80px;
    margin-top: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem; 
}

/* initial-armament */
.fieldset-form.initial-armament .form-lbl{
    margin-top: 0rem;
}
.fieldset-form.initial-armament .form-input{
    min-width: 80px;
    margin-top: 0rem;
}

/* inventory-player */
.fieldset-form.inventory-player {
    grid-template-columns: 1fr 1fr 100px;
    grid-template-rows:repeat(20, 2.5rem);
    grid-row-gap: 0px;
}
.fieldset-form.inventory-player .form-lbl{
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border-width: 1px;
    border-radius: 0.25rem;
}
.fieldset-form.inventory-player .form-lbl-coins{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.25rem;
    background: #e5e7eb;
    border-width: 1px;
    border-color: rgb(0 0 0 / var(--un-border-opacity));
    line-height: 1.5rem;
    font-size: 1rem;
}

.fieldset-form.inventory-player .form-input{
    margin-top: 0rem;
}
.fieldset-form.inventory-player .object-item{
    display: grid;
    grid-template-columns: 1fr 60px 40px;
    padding: 0 0.5rem;
    margin-top: 0rem;
    margin-right: 0.5rem;
}

.fieldset-form.inventory-player .form-input-count{
    max-width: 60px;
    border-color: lightgrey;
    text-align: right;
}

.fieldset-form.inventory-player .btn-delete-object{
    padding: 0 0.25rem;
    max-width: 40px;
    color: red;
}

.fieldset-form.inventory-player .btn-add-object{
    border-width: 1px;
    border-color: rgb(0 0 0 / var(--un-border-opacity));
}

.panel-save{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10px 10px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(51, 51, 51, 0.5); /* Agregamos transparencia al color de fondo */
    backdrop-filter: blur(2px);
    z-index: 5;
}

.panel-save .btn-save-character{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: ease;
}
.panel-save .btn-save-character:hover{
    background-color: var(--bg-color-4);
}

.panel-save .btn-save-character .icon{
    transform: scale(1);
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: ease;
}
.panel-save .btn-save-character:hover .icon{
    transform: scale(1.4);
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}
.panel-save .btn-save-character:active .icon{
    transform: scale(1.4);
}

.dialog{
    background-color: var(--bg-color-1);
    /* margin: 50px auto; */
    padding: 10px;

}

.btn-dialog-accept{
    background: var(--bg-color-4);
}

.fieldset-form .form-input.required-input,
.fieldset-form .form-input-y.required-input{
    border-width: 1px;
    border-style: solid;
    border-color: var(--bg-color-3);
}

.dialog-card{
    padding: 5px;
    background: var(--bg-color-2);
    border-radius: 0.5rem;
    color: #fff;
}